<ul>
    {% for article in articles %}
        <li>{{ article.id }} avec l'id {{ article.title }} <br>
            {{ article.content }}</li>
        <br>
    {% else %}
        <li>Pas d'article trouvé !</li>
    {% endfor %}
</ul>