{% extends('::base.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="" href="">
{% endblock %}

{% block title %}
    {{ parent() ~ ' - homepage' }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <p>This is my home page !</p>
{% endblock %}